body {
    margin-top: 6rem
}

/*body {background-color: #262626;}*/

body {background-color: white}

h1   {color: black;}
    p    {color: black  ;}
    li   {color:black; font-size:12px; line-height:14px; font-family:Verdana, Arial, sans-serif;}
    a    {color: black}
    ul{list-style-type: none}
  /*hr.a {border-top: 1px solid rgba(255, 255, 255, 0.5);}*/
    label {color:black}

    .left, .right {
position: relative;
top: 30px;
}
label.a { float: left; width: 10em; margin-right: 1em; }

#searchbar {width:50%!important;}
